<%- include("../partials/header") %>

<title>Home Page</title>
</head>
<body>
<%- include("../partials/navbar") %> 
<%- include("../partials/flash") %> 
<h1>Categories</h1>
    <form action="/categories" method="POST">
        <input type="text" name="name" placeholder="Category Name" required>
        <button type="submit">Add Category</button>
    </form>
    <ul>
        <% categories.forEach(category => { %>
            <li>
                <%= category.name %>
                <form action="/categories/<%= category._id %>?_method=DELETE" method="POST" style="display:inline;">
                    <button type="submit">Delete</button>
                </form>
            </li>
        <% }); %>
    </ul>


<%- include("../partials/footer") %>